@using Microsoft.AspNetCore.Identity
@using IdentityServer.Models.Users

@{
    ViewData["Title"] = "Login";

}

<h1>Login</h1>
    <form method="post" href="./api/Admin/Login">
        <label>User Name:</label><br />
        <input type="email" name="Email" /><br />
        <label>Password: </label><br />
        <input type="password" name="Password" /><br />
        <input type="submit" value="Send" />
    </form>
